.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh; 
}

.sidebar {
  width: 20%;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: top; 
}

.sidebar-item {
  font-weight: bold;
  color: #2e73b8;
  margin-bottom: 0.5rem;
}

.sidebar-item.active {
  background-color: #2e73b8;
  color: white;
}

.main-content {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: top; 
  align-items: center; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  width: 100%; 
  align-self: center; 
}

.grid-header {
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  background-color: #2e73b8;
  text-align: center;
}

.grid-cell {
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}

.time-display {
  padding: 0.5rem;
  text-align: center;
}

.sign-out-button {
  padding: 0.5rem;
  background-color: #2e73b8;
  color: white;
  border: none;
  cursor: pointer;
}

