* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh; 
}

.sidebar {
  width: 20%;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 70px; 
}

.sidebar-item {
  font-weight: bold;
  color: #2e73b8;
  margin-bottom: 0.5rem; 
}

.sidebar-item.active {
  background-color: #2e73b8;
  color: white;
}

.main-content {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  width: 100%; 
  align-items: center;
}

.grid-header, .grid-cell {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-header {
  background-color: #2e73b8;
  color: white;
  font-weight: bold;
}

.grid-cell {
  background-color: white; 
}

.time-display {
  padding: 0.5rem;
  text-align: center;
}

.sign-out-button {
  padding: 0.5rem;
  background-color: #2e73b8;
  color: white;
  border: none;
  cursor: pointer;
}
